[submodule "marp-theme-rhea"]
	path = marp-theme-rhea
	url = https://github.com/barafael/marp-theme-rhea.git
[submodule "achat"]
	path = achat
	url = https://github.com/barafael/achat
[submodule "watchdog"]
	path = watchdog
	url = https://github.com/barafael/watchdog
[submodule "luhns-algorithm-exercise"]
	path = luhns-algorithm-exercise
	url = git@github.com:barafael/luhns-algorithm-exercise.git
[submodule "wpdl"]
	path = wpdl
	url = git@github.com:barafael/wpdl.git
[submodule "julia-set-renderer"]
	path = julia-set-renderer
	url = git@github.com:cocomundo/julia-set-renderer.git
