[submodule "marp-theme-rhea"]
	path = marp-theme-rhea
	url = https://github.com/barafael/marp-theme-rhea.git
[submodule "achat"]
	path = achat
	url = https://github.com/barafael/achat
[submodule "watchdog"]
	path = watchdog
	url = https://github.com/barafael/watchdog
[submodule "luhns-algorithm-exercise"]
	path = luhns-algorithm-exercise
	url = https://github.com/barafael/luhns-algorithm-exercise
[submodule "wpdl"]
	path = wpdl
	url = https://github.com/barafael/wpdl
[submodule "julia-set-renderer"]
	path = julia-set-renderer
	url = https://github.com/cocomundo/julia-set-renderer
[submodule "msg-repeater"]
	path = msg-repeater
	url = https://github.com/barafael/msg-repeater
[submodule "BaMiRuFFI"]
	path = BaMiRuFFI
	url = https://github.com/barafael/BaMiRuFFI.git
